.discount{
  background: black;
  &__box{
      font-family: sans-serif;
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
  }
  &__wrapper{
      display: flex;
      color:white;
      margin-left: 300px;
      a{
          font-weight: 600;
          margin-left: 10px;
      }
      @media(max-width:1200px){
          display:block;
          margin-left: 10px;
      }
      @media(max-width:990px){
          display:none;
      }
  }
  #langs{
  background:black;
  color:white;
  border: none;
  cursor: pointer;
  outline: none;
  }
}