.hero {
    display: flex;
    background: #000000;
    padding: 30px 100px;
    margin-top: 30px;
    padding-top: 50px;
    margin-bottom: 95px;
    .hero__wrapper {
      width: 25%;
      line-height: 1.5;
    }
    .iphone__icon {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 25px;
      padding-top: 30px;
      flex-direction: row;
      color: aliceblue;
      gap: 10px;
      margin-bottom: 20px;
    }
    b {
      color: #FFFFFF; 
      font-size: 47px;
      line-height: 60px;
      font-weight: 600;
    }
    a {
      color: #FFFFFF;
      border-bottom: 1px solid #ddd;
    }
    .hero__shop {
      margin-top: 40px;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .endframe{
      margin-left: 150px;
    }
  }

  