.service{
  margin-top: 50px;
  align-items: center;
  margin-bottom: 50px;
  &__wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      @media (max-width:700px) {
          display: flex;
          flex-direction: column;
      }
  }
  &__card{
      align-items: center;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      gap: 10px;
      img{
          width: 80px;
          height: 80px;
      }
  }
  
}